@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");


#root {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* =====Home ======= */
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.logo {
  margin: 0;
  padding: 0;
  font-size: 28px;
}

.logo span {
  font-weight: bold;
}

.house-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.house-item {
  margin: 10px;
  text-align: center;
}

.house-item img {
  width: 200px;
  height: 200px;
}

.house-buttons {
  margin-top: 10px;
}

.btn-comment,
.btn-details {
  margin-right: 5px;
  padding: 8px 12px;
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-comment:hover,
.btn-details:hover {
  background-color: #ccc;
}
