@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Common Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.logo {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-family: "Clicker Script";
  position: absolute;
  top: 20px;
  left: 20px;
}
/* ===============Home ================ */
.logo img {
  color: rgb(0, 221, 255);
  background: rgb(0, 221, 255);
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  font-size: 87px;
}

.logo span {
  font-weight: 900;
  color: rgb(0, 221, 255);
  font-family: "Clicker Script", cursive;
}

.house-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.house-item {
  margin: 10px;
  text-align: center;
  width: 300px;
}

.house-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.house-info {
  margin-top: 10px;
}

.house-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.house-info p {
  margin: 5px 0;
}

.home-page-overview {
  font-size: 24px;
  margin: 20px 0 10px; /* Adjust the top margin value as needed */
  padding-top: 90px;
  font-weight: 200;
  font-family: "poppins";
}
.information-p {
  color: whitesmoke;
  font-family: "poppins";
  font-size: 16px;
}
.information-p span {
  color: rgb(0, 221, 255);
  align-items: flex-start;
  font-weight: 500;
  font-family: "poppins";
}
.information-p em {
  color: rgb(108, 237, 72);
}

.explore-blog-text {
  margin-top: 20px;
  font-style: italic;
}
.add-house-form {
  width: 50%;
  /* background: red; */
  border-bottom: 4px solid white;
  border-left: 1px solid rgb(0, 221, 255);
  border-top: 1px solid white;

  border-radius: 19px;
}

.input-location-field,
.input-rent-field,
.input-house-field {
  width: 50%;
  border-radius: 7px;
  height: 30px;
  margin-bottom: 10px;
  position: relative;
}
.input-description-field {
  width: 50%;
  height: 70px;
  border-radius: 7px;
}
.add-house-form .add-house-button {
  width: 30%;
  height: 40px;
  background: green;
  margin: 0 auto; /* Center horizontally */
  display: flex;
  justify-content: center; /* Center horizontally within flex container */
  align-items: center; /* Center vertically within flex container */
  margin-top: 20px;
  margin-bottom: 10px;
}
.add-house-form label {
  display: block;
  font-weight: bold;
  position: absolute;
  margin-left: 70px;
}

/*=========== Navbar Styles=========== */
.nav-link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  position: absolute;
  top: 30px;
  right: 0;
  width: 40%;
  font-size: 24px;
  padding-top: 20px;
}

.nav-links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: lightblue;
}

.nav-link {
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 25px;
}

.nav-link a {
  text-decoration: none;
  color: rgb(0, 221, 255);
  font-weight: bold;
  padding: 10px;
  font-size: 29px;
  letter-spacing: 3px;
}

.nav-link a:hover {
  color: rgb(0, 221, 255);
  border-bottom: 2px solid rgb(0, 221, 255);
  border-radius: 7px;
}

.nav-link a.active {
  border-radius: 7px 7px 0 0;
}

/* ===========Form Component Stylings======= */
.form-container {
  width: 400px;
  margin: 120px auto;
  padding: 20px;
  border-bottom: 1px solid rgb(0, 221, 255);
  border-top: 1px solid #ccc;
  border-radius: 14px;
  margin-left: 500px;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 200px;
}
.form-container h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
  height: 80px;
}

button[type="submit"],
button[type="reset"] {
  display: block;
  width: 85%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}

button[type="reset"] {
  background-color: #f44336;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
  opacity: 0.8;
}
/* ======Blogs Styling====== */
.blogs-container {
  width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  margin-left: 300px;
}

.blogs-heading {
  font-size: 34px;
  margin-top: 100px;
  margin-left: 300px;
  letter-spacing: 2px;
  text-decoration: underline;
}

.blog-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 12px;
  flex-basis: 33.33%;
  margin-top: 40px;
  margin-right: 40px;
}
.paragraph-p {
  margin-left: 300px;
  font-size: 20px;
}
.blog-h3 {
  margin-left: 300px;
  font-size: 24px;
}
.blog-author {
  font-size: 18px;
  margin-bottom: 10px;
}

.blog-estate {
  font-size: 16px;
  margin-bottom: 10px;
}
.blog-ratings span,
.blog-comments span,
.blog-author span,
.blog-estate span {
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px solid rgb(0, 221, 255);
}

.blog-author em,
.blog-estate em,
.blog-ratings em,
.blog-comments em {
  font-size: 20px;
  font-weight: 200;
}

.blog-likes {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.like-btn {
  background-color: transparent;
  border:transparent solid transparent;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  color: rgb(0, 221, 255);
  margin-right: 2px;  
  justify-content: center;
  align-items: center;
}

.delete-button {
  background-color: rgb(0, 221, 255);
  color: black;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
}
.like-btn:hover {
  color: red;
}
.delete-button:hover {
  color: rgb(0, 0, 0);
  background: crimson !important;
  border: transparent !important;
}
